---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
import plastikforurening from "../assets/images/plastikforurening.jpeg";
import plastikflaskemfisk from "../assets/images/plastikflaskemfisk.svg";
import plastikflaske from "../assets/images/plastikflaske.svg";
import fisk from "../assets/images/fisk.svg";
import billede1 from "../assets/images/billede1.jpg";
import billede2 from "../assets/images/billede2.jpg";
import billede3 from "../assets/images/billede3.jpg";
import billede4 from "../assets/images/billede4.jpg";
import råd1 from "../assets/images/råd1.jpg";
import råd2 from "../assets/images/råd2.jpg";
import råd3 from "../assets/images/råd3.jpg";
import råd4 from "../assets/images/råd4.jpg";
import råd5 from "../assets/images/råd5.jpg";
import råd6 from "../assets/images/råd6.jpg";
import Flaskefisk from "../components/Flaskefisk.astro";
---

<MainLayout title="Titel">
  <article>
    <section>
      <h1 class="font-sigmar text-rød text-8xl">#Singleusesucks</h1>
      <p class="font-rubik max-w-md">
        Plastikforurening truer vores hav og dyreliv. Millioner af tons plastik
        ender i oceanerne hvert år. Sammen kan vi stoppe det. Støt vores arbejde
        i dag!
      </p>
      <Button>Støt nu</Button>
    </section>

    <section
      class="whitespace-nowrap overflow-x-hidden bg-lysgrå text-grå text-lg py-2"
    >
      <div
        class="inline-block animate-infinite-scroll whitespace-nowrap [&_span]:mx-6"
      >
        <span>MAKE A CHANGE</span>
        <span>MAKE A CHANGE</span>
        <span>MAKE A CHANGE</span>
        <span>MAKE A CHANGE</span>
        <span>MAKE A CHANGE</span>
        <span>MAKE A CHANGE</span>
        <span>MAKE A CHANGE</span>
        <span>MAKE A CHANGE</span>
        <span>MAKE A CHANGE</span>
        <span>MAKE A CHANGE</span>
      </div>
      <div
        class="inline-block animate-infinite-scroll whitespace-nowrap [&_span]:mx-6"
        aria-hidden="true"
      >
        <span>MAKE A CHANGE</span>
        <span>MAKE A CHANGE</span>
        <span>MAKE A CHANGE</span>
        <span>MAKE A CHANGE</span>
        <span>MAKE A CHANGE</span>
        <span>MAKE A CHANGE</span>
        <span>MAKE A CHANGE</span>
        <span>MAKE A CHANGE</span>
        <span>MAKE A CHANGE</span>
        <span>MAKE A CHANGE</span>
      </div>
    </section>

    <!-- <section>
      <h2
        class="font-sigmar text-4xl text-rød pt-20 pb-8 grid justify-items-center"
      >
        Hvad er plastikforurening?
      </h2>

      <div class="grid grid-cols-2">
        <div class="px-40 pt-10">
          <p class="font-rubik pb-10">
            Plastikforurening opstår, når plastikaffald ender i naturen, især
            havene, hvor det truer dyrelivet og bliver til mikroplast, som
            spreder sig i økosystemet.
          </p>

          <p class="font-rubik pb-10">
            Plastikken nedbrydes ikke naturligt og kan skade både dyr og
            mennesker ved at ophobe toksiner.
          </p>

          <p class="font-rubik pb-10">
            Dette globale problem har alvorlige konsekvenser for havets
            økosystemer og menneskers sundhed, da mikroplast kan ende i
            fødekæden og forurene vores mad og vand.
          </p>
        </div>
        <div>
          <Image src={plastikflaskemfisk} alt="billede af en plastikflaske" />
        </div>
      </div>
    </section>
 -->
    <Flaskefisk />

    <section>
      <div class="grid grid-cols-2">
        <div>
          <Image src={plastikforurening} alt="billede af plastikforurening" />
        </div>
        <div class="bg-grøn px-20 py-24">
          <h2 class="font-sigmar text-hvid text-4xl pb-8">
            Problemet med plastikforurening
          </h2>
          <p class="font-rubik text-hvid">
            Plastikforurening udgør en alvorlig trussel mod miljøet, klimaet og
            vores sundhed. Plastik findes nu overalt, og vi indtager det gennem
            både luft og mad, men forskerne ved endnu ikke præcist, hvilke
            konsekvenser dette har for vores helbred.
          </p>
          <br />
          <p class="font-rubik text-hvid">
            Plastikproduktionen skaber drivhusgasser hele vejen fra udvinding af
            olie til bortskaffelse, og mikroplast forværrer klimaforandringer
            ved at skade økosystemer som alger, der er afgørende for at reducere
            CO2 i atmosfæren.
          </p>
          <br />
          <p class="font-rubik text-hvid">
            Samtidig udgør plastikaffald en fare for dyrelivet, hvor det kan
            føre til kvælning, sult og kemikalieforgiftning i både havdyr og
            mennesker.
          </p>
        </div>
      </div>
    </section>

    <section class="py-20">
      <p>fisk med fakta</p>
    </section>

    <section>
      <h2 class="font-sigmar text-rød text-4xl pb-8 grid justify-items-center">
        Hvordan gør vi en forskel?
      </h2>
      <p class="font-rubik w-1/3 mx-auto pb-14">
        Plastic Change arbejder for at forebygge plastikforurening ved at fremme
        genbrug og cirkulære løsninger. De samarbejder med iværksættere,
        industri og politikere for at løse årsagerne til forureningen, som
        overproduktion og dårlige produktdesigns. <br /><br />Gennem politisk
        påvirkning, undervisning og folkeoplysning skaber de en bevægelse, der
        kræver handling mod plastikkrisen. Målet er at spare på jordens
        ressourcer og forhindre, at plastik ender som affald og forurener
        naturen.
      </p>
      <div class="relative flex items-center h-screen w-full">
        <Image
          src={billede1}
          alt=""
          class="absolute inset-0 w-full h-full object-cover -z-10"
        />
        <p
          class="w-3/4 lg:w-2/5 ml-auto p-10 bg-hvid text-lg sticky top-1/4 mr-14"
        >
          Vi mobiliserer og engagerer befolkningen, gennem folkeoplysning om
          konsekvenserne med plastikforurening og hvad vi mener er løsningerne
          til det.
        </p>
      </div>

      <div class="relative flex items-center h-screen w-full">
        <Image
          src={billede2}
          alt=""
          class="absolute inset-0 w-full h-full object-cover -z-10"
        />
        <p
          class="w-3/4 lg:w-2/5 mr-auto p-10 bg-hvid text-lg sticky top-1/4 ml-14"
        >
          Vi arbejder med politik og grøn lovgivning, blandt andet kæmper vi for
          ambitiøse nationale mål for reduktion og genbrug af plastik.
        </p>
      </div>

      <div class="relative flex items-center h-screen w-full">
        <Image
          src={billede3}
          alt=""
          class="absolute inset-0 w-full h-full object-cover -z-10"
        />
        <p
          class="w-3/4 lg:w-2/5 ml-auto p-10 bg-hvid text-lg sticky top-1/4 mr-14"
        >
          Vi samarbejder med industri-aktører om konkrete løsninger i praksis og
          industriel innovation.
        </p>
      </div>

      <div class="relative flex items-center h-screen w-full">
        <Image
          src={billede4}
          alt=""
          class="absolute inset-0 w-full h-full object-cover -z-10"
        />
        <p
          class="w-3/4 lg:w-2/5 mr-auto p-10 bg-hvid text-lg sticky top-1/4 ml-14"
        >
          Vi vidensindsamler, laver undervisningsforløb og uddanner, bl.a. børn
          og unge i landets folkeskoler og gymnasieuddannelser om
          plastikforurening, produktion og forbrug.
        </p>
      </div>
    </section>

    <section>
      <h2 class="font-sigmar text-rød text-4xl pb-8 pl-14 pt-20">
        Hvad kan du gøre?
      </h2>
      <p class="font-rubik pl-14 w-1/3">
        Du kan reducere plastikforurening i din hverdag ved at bruge mindre
        plastik og undgå engangsprodukter, selvom det kan være en udfordring. <br
        />
        <br />
        Derudover kan du skabe forandring ved at tale om plastikforurening med din
        omgangskreds, dele viden og inspirere andre til at være opmærksomme på problemet.
        <br />
        <br />
        Vores 7 råd:
      </p>
    </section>

    <div class="overflow-clip pt-44">
      <section id="horisontalscrollsection" class="h-[500vw]">
        <ul id="horisontalliste" class="list-none pl-0 flex sticky top-[10vh]">
          <li
            class="pl-0 flex w-[100vw] items-start justify-center flex-col overflow-hidden flex-grow-0 flex-shrink-0 flex-auto"
          >
            <figure class="flex flex-row max-w-[800px]">
              <Image src={råd1} class="h-[500px] w-[400px]" alt="foto" />
            </figure>
          </li>
          <li
            class="flex w-[100vw] items-start justify-center flex-col overflow-hidden flex-grow-0 flex-shrink-0 flex-auto"
          >
            <figure class="flex flex-row max-w-[800px]">
              <Image src={råd2} class="h-[500px] w-[400px]" alt="foto" />
            </figure>
          </li>
          <li
            class="flex w-[100vw] items-start justify-center flex-col overflow-hidden flex-grow-0 flex-shrink-0 flex-auto"
          >
            <figure class="flex flex-row max-w-[800px]">
              <Image src={råd3} class="h-[500px] w-[400px]" alt="foto" />
            </figure>
          </li>
          <li
            class="flex w-[100vw] items-start justify-center flex-col overflow-hidden flex-grow-0 flex-shrink-0 flex-auto"
          >
            <figure class="flex flex-row max-w-[800px]">
              <Image src={råd4} class="h-[500px] w-[400px]" alt="foto" />
            </figure>
          </li>
          <li
            class="flex w-[100vw] items-start justify-center flex-col overflow-hidden flex-grow-0 flex-shrink-0 flex-auto"
          >
            <figure class="flex flex-row max-w-[800px]">
              <Image src={råd5} class="h-[500px] w-[400px]" alt="foto" />
            </figure>
          </li>
          <li
            class="flex w-[100vw] items-start justify-center flex-col overflow-hidden flex-grow-0 flex-shrink-0 flex-auto"
          >
            <figure class="flex flex-row max-w-[800px]">
              <Image src={råd6} class="h-[500px] w-[400px]" alt="foto" />
            </figure>
          </li>
        </ul>
      </section>
    </div>

    <section>
      <p class="text-4xl">Donér sektion</p>
    </section>

    <section
      class="whitespace-nowrap overflow-x-hidden bg-rød text-hvid text-lg py-2"
    >
      <div
        class="inline-block animate-infinite-scroll whitespace-nowrap [&_span]:mx-6"
      >
        <span>MAKE A CHANGE</span>
        <span>MAKE A CHANGE</span>
        <span>MAKE A CHANGE</span>
        <span>MAKE A CHANGE</span>
        <span>MAKE A CHANGE</span>
        <span>MAKE A CHANGE</span>
        <span>MAKE A CHANGE</span>
        <span>MAKE A CHANGE</span>
        <span>MAKE A CHANGE</span>
        <span>MAKE A CHANGE</span>
      </div>
      <div
        class="inline-block animate-infinite-scroll whitespace-nowrap [&_span]:mx-6"
        aria-hidden="true"
      >
        <span>MAKE A CHANGE</span>
        <span>MAKE A CHANGE</span>
        <span>MAKE A CHANGE</span>
        <span>MAKE A CHANGE</span>
        <span>MAKE A CHANGE</span>
        <span>MAKE A CHANGE</span>
        <span>MAKE A CHANGE</span>
        <span>MAKE A CHANGE</span>
        <span>MAKE A CHANGE</span>
        <span>MAKE A CHANGE</span>
      </div>
    </section>

    <section>
      <p class="text-4xl">Merchandice sektion</p>
    </section>

    <section
      class="whitespace-nowrap overflow-x-hidden bg-rød text-hvid text-lg py-2"
    >
      <div
        class="inline-block animate-infinite-scroll whitespace-nowrap [&_span]:mx-6"
      >
        <span>MAKE A CHANGE</span>
        <span>MAKE A CHANGE</span>
        <span>MAKE A CHANGE</span>
        <span>MAKE A CHANGE</span>
        <span>MAKE A CHANGE</span>
        <span>MAKE A CHANGE</span>
        <span>MAKE A CHANGE</span>
        <span>MAKE A CHANGE</span>
        <span>MAKE A CHANGE</span>
        <span>MAKE A CHANGE</span>
      </div>
      <div
        class="inline-block animate-infinite-scroll whitespace-nowrap [&_span]:mx-6"
        aria-hidden="true"
      >
        <span>MAKE A CHANGE</span>
        <span>MAKE A CHANGE</span>
        <span>MAKE A CHANGE</span>
        <span>MAKE A CHANGE</span>
        <span>MAKE A CHANGE</span>
        <span>MAKE A CHANGE</span>
        <span>MAKE A CHANGE</span>
        <span>MAKE A CHANGE</span>
        <span>MAKE A CHANGE</span>
        <span>MAKE A CHANGE</span>
      </div>
    </section>

    <p>
      Link til <Link href="https://www.kea.dk" target="_blank"
        >En anden side</Link
      >
    </p>
    <Image src={thumbsup} alt="" />
  </article>

  <script>
    import { animate } from "motion";
    import { scroll } from "motion";

    scroll(
      animate("#horisontalliste", {
        transform: ["none", "translateX(-400vw)"],
      }),
      { target: document.querySelector("#horisontalscrollsection") }
    );
  </script>
</MainLayout>
