---
import Button from "../components/Button.astro";
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from "astro:assets";
import facebook from "../assets/images/facebook.svg";
import instagram from "../assets/images/instagram.svg";
import linkedin from "../assets/images/linkedin.svg";
import twitter from "../assets/images/twitter.svg";
import youtube from "../assets/images/youtube.svg";
---

<section class="bg-rød py-20">
  <div class="bg-hvid my-10 max-w-sm mx-auto">
    <p class="px-10 pt-5 pb-5 mx-auto font-rubik text-center">
      Vil du redde vores planet fra plastikforurening? Din støtte kan gøre en
      forskel! Klik her og vær med til at beskytte naturen
    </p>
    <div class="grid justify-items-center pb-5">
      <Button>Støt nu</Button>
    </div>
  </div>

  <div class="flex flex-row justify-center pt-20 pb-4 gap-2">
    <a href="https://www.facebook.com/plasticchange/" target="_blank">
      <Image src={facebook} alt="foto" /></a
    >
    <a href="https://x.com/plasticchange" target="_blank">
      <Image src={twitter} alt="foto" /></a
    >
    <a href="https://www.linkedin.com/company/plastic-change/" target="_blank">
      <Image src={linkedin} alt="foto" /></a
    >
    <a
      href="https://www.youtube.com/channel/UCgLD-akVpdrJPPds2qoNA8g"
      target="_blank"
    >
      <Image src={youtube} alt="foto" /></a
    >

    <a href="https://www.instagram.com/plasticchange/" target="_blank">
      <Image src={instagram} alt="foto" />
    </a>
  </div>

  <p class="font-sigmar text-hvid grid justify-items-center text-4xl pb-20">
    #SINGELUSESUCKS
  </p>

  <div class="text-hvid grid justify-items-center">
    <p>
      [1-4]: Plastik Change, Formidling;
      https://plasticchange.dk/videnscenter/dyr-lider-under-plastikforureningen/
    </p>
    <p>
      [5-8]: Plastik Change, Formidling;
      https://plasticchange.dk/videnscenter/dyr-lider-under-plastikforureningen/
    </p>
  </div>
</section>
